<br>
<br>
<h2>You try the door and it's locked. What do you do now? </h2>



<form action='/page5'>
    <input type="submit" value='Re-examine the note' />
</form>

<br>

<form action='/page3'>
    <input type="submit" value='Try breaking the door' />
</form>

<br>

<form action='/page4'>
    <input type="submit" value='Yell for help' />
</form>
