<br>
<br>
<h2>You scream for help but suddenly you hear a calm voice behind you. </H2>
<br>
<h2>"omae wa mou shindeiru." You look at this person confused and say back, "Nani?!?!" In a swift instance your head is cutt off.</h2>

<h2> You ded. </h2>


<img class= 'pepe' src="https://media.tenor.com/images/ef1cfa38bfa0d9d01fa77d3166dfa9a9/tenor.gif" alt="PePeHands">

<br>
<br>

<form action='beginning'>
    <input type="submit" value='START OVER' />
</form>
