<h2> You wake up in a cold sweat realizing it was all just a nightmare and sigh in relief that it was all fake... </h2>

<img class= 'gotem' src="https://media.giphy.com/media/x94qiZvTbrjTG/giphy.gif" alt="got'em gif">



<br>
<br>
<form action='/page9'>
    <input type="submit" value='escape nightmare thoughts' />
</form>

<br>
<br>

<form action='beginning'>
    <input type="submit" value='START OVER' />
</form>
