<br>
<br>
<h2></h2>

<h2> You re-examine the note and realize something about the way it's written. What do you decicde to do? </h2>


<%= image_tag('Letter.png', :size => "1000x900", :class => 'letter_image') %>

<form action='/page6'>
    <input type="submit" value='Look on the back of note' />
</form>

<br>

<form action='/page2'>
    <input type="submit" value='Try the door because the note makes no sense' />
</form>

<br>

<form action='page7'>
    <input type="submit" value='Reach behind you for the back of your shirt' />
</form>
