<br>
<br>
<h2></h2>

<h2> You see a hint: There is a pattern, a hidden message in the note, and beginnings are the parts to pay attention to. Now what do you do? </h2>


<%= image_tag('Letter.png', :size => "1000x900", :class => 'letter_image') %>

<form action='/page4'>
    <input type="submit" value='Just yell for help' />
</form>

<br>

<form action='/page2'>
    <input type="submit" value='Try the door because the note still does not make any sense' />
</form>

<br>

<form action='page7'>
    <input type="submit" value='Reach behind you for the back of your shirt' />
</form>
