<h1>ESCAPE ROOM: A TEXT BASED GAME</h1>



<form action='/beginning' class='Homepagebutton'>
    <input type="submit" value='Push To Start The Game' />
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<h3> &copy; Natalie Reinicke | This game was made using Ruby on Rails for one of my projects at LEARN Academy | 2019.</h3>
