<h1>ESCAPE ROOM: A TEXT BASED GAME</h1>



<form action='/beginning' class='Homepagebutton'>
    <input type="submit" value='Click To Start The Game' />
</form>
<h3> Can you survive?</h3>
<h3 class='footer'> &copy; Natalie Reinicke | This game was one of my first ruby on rails project at LEARN Academy | 2019</h3>
