<br>
<br>
<h2></h2>

<h2> You feel something taped between your shoulder blades so you just barely are able to get a grip on it to rip it off. "THE KEY!!" You feel relieved as you rush to unlock the door.</h2>

<form action='/page8'>
    <input type="submit" value='open door!!' />
</form>
