<br>
<br>
<h2>You run at the door and manage to break it open. However, when you fall through to the other side you happen to fall, head first, onto a piece of the door which pierces you right through the brain.</h2>

<h2> You ded. </h2>


<img class= 'pepe' src="https://media.tenor.com/images/ef1cfa38bfa0d9d01fa77d3166dfa9a9/tenor.gif" alt="PePeHands">
<br>
<br>

<form action='beginning'>
    <input type="submit" value='START OVER' />
</form>
