<h1>Beginning</h1>

<h2>You wake up on an old, stained-covered mattress in the middle of a room. It's dimly lit and humid. You quickly look around and notice only one door, but no windows. You swing your legs off the mattress when your bare feet feel paper beneath you. Curious, you lean over to see what looks like an aged, torn note and as you pick it up you notice it's just incoherent sentences. What do you do?</h2>

<%= image_tag('Letter.png', :size => "700x500", :class => 'letter_image') %>
<h3 class='dante'> Note design credit to: Dante Moore | Alpha 2019</h3>

<form action='/page2'>
    <input type="submit" value='Try the door' />
</form>

<br>

<form action='/page5'>
    <input type="submit" value='Re-examine the note' />
</form>

<br>

<form action='/page10'>
    <input type="submit" value='Examine the room' />
</form>
