/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1, h2, h3 {
text-align: center;
color: red;
margin-left: 50px;
margin-right: 50px;	
}

h3{
  font-size: 30px;
}
input{
    background-color: red;
    height: 50px;
    width: 400px;
    border-radius: 10px;
    font-size: 15px;
}

/* home page */
.Homepagebutton {
text-align: center;
}

form{
    text-align: center;
}

.footer{
font-size: 16px;
 position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* background image */
body{
    background-image: url(http://i.imgur.com/POg61G6.jpg);
		background-size: cover;
		background-repeat: repeat-y;
}

.dante{
	font-size: 16px;
}

.pepe{
    display: block;
      margin-left: auto;
      margin-right: auto;
}

.letter_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gotem{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    height: auto;
}

.scary{
    display: block;
    margin: 100px auto 0;
    height: auto;
    width: 600px;
}
