<br>
<br>
<h2>You look around and don't see much. Drawings on the walls, a moldy smell in the air, and the note you have in your hand. Trying to not panic too much you rethink over the choices you have to pick from. What do you do? </h2>



<form action='/page5'>
    <input type="submit" value='Re-examine the note' />
</form>

<br>

<form action='/page3'>
    <input type="submit" value='Try breaking the door' />
</form>

<br>

<form action='/page4'>
    <input type="submit" value='Yell for help' />
</form>
